body{
    background-color: black;
}

.header{
    display: flex;
justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.header__nav-link{
    margin-left: 30px;
}
.button{
border-radius: 1000px;
    width: 120px;
    height: 40px;
    background: none;

}